header {
	width: 100%;
	background: url("../images/header_img.webp") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
	position: relative;
	padding: 24px 56px 48px 24px;
	.header-content {
		margin-top: 64px;
		color: white;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
	.logo-wrap {
		padding: 32px 0 0 64px;
	}
	header {
		.header-content {
			margin: 160px 0 0 120px;
			max-width: 800px;
			padding: 0 0 100px 0;
		}
	}
}
