header {
	width: 100%;
	background: url("../images/header_img.webp") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
	position: relative;

	.logo-wrap {
		padding: 32px 0 0 64px;
	}
	.header-content {
		color: white;
		max-width: 800px;
		margin: 160px 0 0 120px;
		padding: 0 0 100px 0;
	}
}

@media screen and (max-width: 768px) {
	header {
		padding: 24px 56px 48px 24px;

		.logo-wrap {
			padding: 0 0 0 0;
		}
		.header-content {
			margin: 64px 0 0 0;
			padding-right: 56px;
			padding-bottom: 48px;
		}
	}
}
