.goals-section-wrap {
	padding: 54px 24px 64px 24px;
}
.content-wrap {
	width: 327px;
	padding: 0 0 26px 0;
	h4 {
		color: $primary-color;
	}
}
.image-wrap {
	width: 327px;
	height: 295px;
}

.goals-section {
	width: 100%;
}
.img-office {
	width: 100%;
	height: 100%;
	flex-grow: 0;
	object-fit: cover;
}

@media screen and (min-width: 390px) {
	.goals-section-wrap {
		padding-right: 0;
	}

	.content-wrap {
		width: 95%;
		padding: 50px 0;
		padding-right: 40px;
	}
	.image-wrap {
		overflow: hidden;
		position: relative;
		width: 95%;
		height: 440px;
	}
}

@media screen and (min-width: 992px) {
	.goals-section-wrap {
		padding: 120px 0 120px 120px;
	}

	.content-wrap {
		width: 515px;
		padding: 82px 0;
	}
	.image-wrap {
		overflow: hidden;
		position: relative;
		width: 599px;
		height: 540px;
		padding-left: 30px;
	}
}

@media screen and (min-width: 1450px) {
	.goals-section-wrap {
		padding: 120px 0 120px 120px;
	}

	.content-wrap {
		width: 515px;
		padding: 82px 0;
	}
	.image-wrap {
		overflow: hidden;
		position: relative;
		width: 50%;
		padding-left: 0;
	}
}
